/* -- CSS RESET -*/
/*
  1. Alt box model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
/*BODY--BODY--BODY*/
/*BODY--BODY--BODY*/
body{
    background-color: rgb(49, 49, 49);  
}

    /*--HEADER -- */
header{
    background-color: rgb(105, 175, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.login{
  color: rgb(49, 49, 49);
}
          /*-- NAV--*/
          #toClick:hover{
color: rgb(201, 255, 121);
          }
.fa-burger{
  padding: 0;
}
#ham{
  display: none;
  background-color: rgb(49, 49, 49);
  border: 3px solid rgb(214, 255, 161);
  height: 80px;
  align-items: center;
 justify-content: center;
 flex-direction: column;
 padding-left: 1px;
}

#ham li a{
  color: blue;
  font-size: 1.5rem;
}
#ham li a:visited{
  color: rgb(170, 253, 35);
  
}
#ham li a:hover{
  color: lightblue;
  
}
/*-- -- MAIN -- --*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
        /* Primary Garden*/
        .primaryGarden{
          margin-top: 10px;
          display: grid;
          grid-template-columns:  10px  1fr 1fr 1fr 1fr 1fr 10px;
          grid-template-rows: auto;
          grid-template-areas: 
          ". . h2 h2 h2 . ."
          ". primary primary  primary  primary primary ."
          ". leftArrow backB centerB centerB rightArrow . ";
      }
      .primaryH2{
          grid-area: h2;
          justify-self: center;
      }
    .journal{
        display: flex;
        justify-self: center;
        flex-direction: row;
        justify-items: center;
        background-color: green;
        width: 100%;
        height: 400px;
        grid-area: primary;
        margin-bottom: 5px;
    }
      /* information*/
    .infoDisplay{
      width: 48%;
      height: 400px;
      background-color: bisque;
      margin-left: 2%;
      display: flex;
      flex-direction: column;
    }
    .infoItem{
      margin-left: 5px;
    }
    .photoAlbum{
      align-self:last baseline;
      margin-top:  5px;
      margin-right: 50%;
    }
      /* Mini Map*/
      .miniMap{
        width: 48%;
        height: 400px;
        background-color: rgb(255, 197, 126);
      }
      .mapGrid{
        border: 3px solid brown;
        background-color: rgb(189, 122, 67);
        margin: 30px 10px 10px 10px;
        height: 266px;
      }
      .gridOL{
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: grid;    
        grid-template-columns: repeat(10, 1fr);
      }
      .gridOL li{
        border: 1px solid black;
        color: rgb(0, 122, 67);
      }
      .gridLetters{
        background-color: lightgreen;
      }
      .gridNums{
        background-color: lightblue;
      }
      .grid{
        margin-left: 15px;
      }
    
          /* buttons */
    .threeButton{
      height: 100px;
      background-color: rgb(105, 175, 0);
    }
    .threeButton:hover{
      background-color: lightgray;
    }
    .threeButton:touch{
      background-color: lightgray;
    }
    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    .lArrow{
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    .select, .back{
      font-weight: bolder;
    }
    .rArrow{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    .leftArrow{
      grid-area: leftArrow;
    }
    .backB{
      grid-area: backB;
    }
    .centerB{
      grid-area: centerB;
    }
    .rightArrow{
      grid-area: rightArrow;
    }

    /*  CHORE LIST  */
    .choreList{
        margin-top: 10px;
        display: grid;    
       grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 10px;
        grid-template-rows: auto;
        grid-template-areas: 
            ". chores chores chores chores chores ."
            ". . h2 h2 h2 . ."
            ". . form form form . ."
            ". ul ul ul ul ul ."; 
    }
    .choresUl{
      padding-right: 40px;
    }
    .chores{
        grid-area: chores;
    }
    .username{
        grid-area: h2;
        font-size: 1rem;
        color: rgb(105, 175, 0);
    }
        form{
            padding: 1%;
            grid-area: form;
        }

        .center{
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .choresUl{
            grid-area: ul;
        }
        li{
            list-style: none;
        }
        h1{
            color: rgb(170, 253, 35);
            font-family: Arial, Helvetica, sans-serif;
        }
        .completed{
          background-color: rgb(65, 133, 65);
          height: 25%;
          display: flex;
          align-self: center;
          padding-left: 25px;
        }
        .not{
            background-color: rgb(236, 198, 72);  
            height: 25%;
            display: flex;
            align-self: center;
            padding-left: 25px;
        }
        .del{
            background-color: rgb(231, 69, 69);
            display: flex;
            justify-self: space-around;
            width: 100px;
            align-items: center;
            padding-left: 20px;
        }
        .todoItem{
            display: flex;
            justify-content: space-between;
            justify-items: center;
            font-size: 1.5em;
        }